/* index style */
.carImg {
    height: 30rem;
    object-fit: cover;
}
/* fin index style */

/* contact us style */
textarea {
    height: 20rem;
    resize: none;
}
/* fin contact us style */

/* cart style */
.notValid {
    border: 2px solid red;
}
/* fin cart style */

/* shop style */

.offcanvas{
    width:50% !important;
}  



.shopArea {
    background-image: url('Resources/nastyGif.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.customSidebar {
    width: 25%;
    min-width: 20%;
}

.sideItem {
    transition: background-color 0.3s ease;
}

.sideItem:hover {
    background-color: rgb(108, 117, 125) !important;
}

.myCardBlack {
    transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.myCardBlack:hover {
    box-shadow: 0.3rem 0.5rem 0.8rem rgba(139, 0, 139, 0.75);
}

.myCardGrey {
    transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.myCardGrey:hover {
    box-shadow: 0.3rem 0.5rem 0.8rem rgba(139, 0, 139, 0.75);
}

@keyframes cardRotate {
    100% {
        transform: rotateZ(360deg);
    }
}

    /* obtained from web */
    .pagination .page-link {
        color: #fff;
        background-color: rgba(52, 58, 64, 0.8);
        border-color: rgba(52, 58, 64, 0.8);
    }

    .pagination .page-link:hover {
        background-color: rgba(96, 96, 96, 0.8);
        border-color: rgba(96, 96, 96, 0.8);
    }

    .pagination .page-item.active .page-link {
        background-color: rgba(96, 96, 96, 0.8);
        border-color: rgba(96, 96, 96, 0.8);
    }
    /* fin obtained from web */
/* fin shop style */

/* about us style */
.policiesContainer {
    background-color: #090e0a;
    background-image: url('Resources/policiesBackground.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.qualityContainer {
    background-color: black;
    background-image: url('Resources/vaperBackground.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.teamContainer {
    background-color: #0f0f0f;
    background-image: url('Resources/backgroundVapor.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.separator {
    background-image: url('Resources/smokeBackground.jpg');
    background-size: auto;
    background-position: center;
}
/* about us style */

/* used in many places */
.customContainer {
    background-image: url('Resources/smokeBackground.jpg');
    background-size: auto;
    background-position: center;
}
.myInput:focus {
    box-shadow: 0rem 0.5rem 0.5rem rgba(139, 0, 139, 0.75);
    border-color: rgb(139, 0, 139);
}
/* fin used in many places */

/* not asigned */
/* fin not asigned */

/* removing styles */
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
/* fin removing styles */

